.app-header{
    height: 100vh;
    background-color: #282c28;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
select{
    padding: 15px;
    width: 250px;
    background-color: aquamarine;
    border-radius: 15px;
    margin: 10px;
}
button{
    width: 100px;
    background-color: orange;
    border-radius: 15px;
    padding: 15px;
}